/*

VVV main style

*/

@import "elements.less";

#viv-adjust {
	margin-top: 1.2em;
}

.viv {

	margin-top: 70px;
	overflow: hidden;

	.vivType {
		color: #999;
	}

	.headline {
		background: red;
	}

	.sorting {
		.option-set {
			margin: 0 2em 0 0;

			.headline {
				float: left;
				margin-right: 5px;
				background-color: red;
			}
		}
	}
	
	#panel {
		margin-top: 20px;

		.title {
			margin-bottom: 20px;
		}

		.text {
			font-family: 'calluna', serif;

			blockquote {
				padding: 0;
				margin: 5px 0 20px 0;
				border: 0;

				span {
					padding: 2px;
				}
			}

			b {
				font-family: 'calluna-sans', sans-serif;
				font-weight: 300;
			}

			span {
				cursor: pointer;
				.transition( 0.5s, ease-out );
			}
		}
	}

	.hh {
		height: 500px;
	}

	.scroll-wrapper {
		position: relative;
		height: 500px;
		background-color: #eaeaea;

		.scroll-content {
			margin: 10px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: scroll;
			overflow-x: hidden;
			overflow-y: scroll;
		}
	}

	#eddystats, #backtranslations {
		.versions {
			list-style-type: none;
			margin: 0;
			padding: 0;
			
			.version-eddy-stat {
				margin-bottom: 20px;
				margin-left: 0;
				background-color: white;
				width: 93%;
				padding: 10px;
				.bordered( #EEE, #E5E5E5, #DDD, #E5E5E5 );

				.eddy-value-bar {
					width: 100%;
					height: 5px;

					.bar-inner {
						width: 50%;
						height: 100%;
						background-color: #fdb63b;
					}
				}

				.eddy-value {
					width: 100%;
					margin-bottom: 10px;
					font-family: 'Helvetica Neue', Helvetica, sans-serif;
				}

				.backtranslation, .version {
					width: 45%;
					font-weight: 300;
					font-size: 13px;
					font-family: 'calluna', serif;
				}

				.backtranslation {
					margin-right: 10px;
					text-align: left;

					.tiny {
						font-size: 10px;
					}
				}

				.version {
					
				}

				.backtrans-label, .version-label {
					font-family: 'calluna-sans', sans-serif;
					margin-bottom: 10px;
				}

				.version-label {
					font-weight: bold;
					margin-bottom: 10px;
				}
			}
		}
	}
}