<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/OldSite.Master" Inherits="System.Web.Mvc.ViewPage<Prism.Models.AlignModel>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
    Aligner
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <h2>Aligner</h2>
<%--    <p>Create and align segments of predefined kinds in Base Text and translations.</p>--%>
    <div style="float:right">Synchronise editor scrolling<input type="checkbox"   id="syncscroll"  /></div>
    <table style="width: 100%">
        <tr>
            <td valign="top" style="width:50%">
                <% using (Html.BeginForm(null, null, FormMethod.Post, new { id = "basetextextractform" }))
                   {%>
                <%: Html.ValidationSummary(false) %>
                <%: Html.HiddenFor(model => model.BaseTextModel.CorpusName, new { id = "corpusname" })%>
                <fieldset>
                    <legend>Base Text extract</legend>
                    <table>
                        <tr>
                            <td valign="top">
                                <div class="editor-label">
                                    <%: Html.LabelFor(model => model.BaseTextModel.ExtractSegmentID)%>
                                </div>
                                <div class="editor-field">
                                    <%: Html.DropDownListFor(model => model.BaseTextModel.ExtractSegmentID, (System.Collections.Generic.IEnumerable<SelectListItem>)ViewData["BaseTextTOCSegments"])%>
                                    <%: Html.ValidationMessageFor(model => model.BaseTextModel.ExtractSegmentID)%>
                                </div>
                                <br />
                        <input type="button" value="View" id="basetextviewbutton" />

                            </td>
                            <td valign="top">
                                <div class="editor-label">
                                    Segment filter
                                </div>
                                <%--<p>Names and values for segments can be freely defined for a corpus. To work on e.g. <i>Speech</i> segments, select <i>Speech</i>. Then click <i>View</i>.</p>--%>
                                <table id="basetextattribfiltertable">
                                    <thead>
                                        <tr>
                                            <th>
                                                <span class="editor-label">Name</span>
                                            </th>
                                            <th>
                                                <span class="editor-label">Value</span>
                                            </th>
                                            <th>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%
                           if (Model.BaseTextModel.AttributeFilters != null && Model.BaseTextModel.AttributeFilters.Length > 0)
                               for (int i = 0; i < Model.BaseTextModel.AttributeFilters.Length; i++)
                               {
                                   string indexval = i.ToString();
                                   string rowid = "basetextattribfilterrow-" + indexval;
                                   string rowhtml = Prism.Controllers.CorpusController.AttributeRowHtml("BaseTextModel.AttributeFilters", Model.BaseTextModel.CorpusName, i, Model.BaseTextModel.AttributeFilters[i].Name, Model.BaseTextModel.AttributeFilters[i].Value, false);                                                                                         
                                                
                                        %>
                                        <tr id='Tr1'>
                                            <%=rowhtml %>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                                <br />
                                <input type="button" value="Add" id="addbasetextfilterattrib" />
                            </td>
                            <td>
                                <p>
                                    <%: Html.LabelFor(model => model.BaseTextModel.AuthorTranslator)%>:
                                    <%: Model.BaseTextModel.AuthorTranslator%><br />
                                    <%: Html.LabelFor(model => model.BaseTextModel.Genre)%>:
                                    <%: Model.BaseTextModel.Genre%><br />
                                    <%: Html.LabelFor(model => model.BaseTextModel.CopyrightInfo)%>:
                                    <%: Model.BaseTextModel.CopyrightInfo%><br />
                                    <%: Html.LabelFor(model => model.BaseTextModel.ReferenceDate)%>:
                                    <%: Model.BaseTextModel.ReferenceDate%><br />
                                    <%: Html.LabelFor(model => model.BaseTextModel.SegmentCount)%>:
                                    <%: Model.BaseTextModel.SegmentCount%><br />
                                </p>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="nextbasetextattribfilterrowindex" value="<%= ViewData["nextbasetextattribfilterrowindex"] %>" />
<%--                    <p>
                        <input type="button" value="View" id="basetextviewbutton" />
                    </p>--%>
                </fieldset>
                <% } %>
            </td>
            <td valign="top" style="width:50%">
                <% using (Html.BeginForm(null, null, FormMethod.Post, new { id = "versionextractform" }))
                   {%>
                <%: Html.ValidationSummary(false) %>
                <%: Html.HiddenFor(model => model.VersionModel.CorpusName, new { id = "corpusname" })%>
                <%: Html.HiddenFor(model => model.VersionModel.NameIfVersion, new { id = "versionname" })%>
                <fieldset>
                    <legend>Version extract</legend>
                    <table>
                        <tr>
                            <td valign="top">
                                <div class="editor-label">
                                    <%: Html.LabelFor(model => model.VersionModel.ExtractSegmentID)%>
                                </div>
                                <div class="editor-field">
                                    <%: Html.DropDownListFor(model => model.VersionModel.ExtractSegmentID, (System.Collections.Generic.IEnumerable<SelectListItem>)ViewData["VersionTOCSegments"])%>
                                    <%: Html.ValidationMessageFor(model => model.VersionModel.ExtractSegmentID)%>
                                </div>
                                <br />
                        <input type="button" value="View" id="versionviewbutton" />

                            </td>

                            <td valign="top">
                                <div class="editor-label">
                                    Segment filter
                                </div>
                                <%--<p>Names and values for segments can be freely defined for a corpus. To work on e.g. <i>Speech</i> segments, select <i>Speech</i>. Then click <i>View</i>.</p>--%>
                                <table id="versionattribfiltertable">
                                    <thead>
                                        <tr>
                                            <th>
                                                <span class="editor-label">Name</span>
                                            </th>
                                            <th>
                                                <span class="editor-label">Value</span>
                                            </th>
                                            <th>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%
                           if (Model.VersionModel.AttributeFilters != null && Model.VersionModel.AttributeFilters.Length > 0)
                               for (int i = 0; i < Model.VersionModel.AttributeFilters.Length; i++)
                               {
                                   string indexval = i.ToString();
                                   string rowid = "versionattribfilterrow-" + indexval;
                                   string rowhtml = Prism.Controllers.CorpusController.AttributeRowHtml("VersionModel.AttributeFilters", Model.VersionModel.CorpusName, i, Model.VersionModel.AttributeFilters[i].Name, Model.VersionModel.AttributeFilters[i].Value, false);                                                                                         
                                                
                                        %>
                                        <tr id='<%=rowid%>'>
                                            <%=rowhtml %>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                                <br />
                                <input type="button" value="Add" id="addversionfilterattrib" />
                            </td>
                            <td>
                                <p>
                                    <%: Html.LabelFor(model => model.VersionModel.AuthorTranslator)%>:
                                    <%: Model.VersionModel.AuthorTranslator%><br />
                                    <%: Html.LabelFor(model => model.VersionModel.Genre)%>:
                                    <%: Model.VersionModel.Genre%><br />
                                    <%: Html.LabelFor(model => model.VersionModel.CopyrightInfo)%>:
                                    <%: Model.VersionModel.CopyrightInfo%><br />
                                    <%: Html.LabelFor(model => model.VersionModel.ReferenceDate)%>:
                                    <%: Model.VersionModel.ReferenceDate%><br />
                                    <%: Html.LabelFor(model => model.VersionModel.SegmentCount)%>:
                                    <%: Model.VersionModel.SegmentCount%><br />
                                </p>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="nextversionattribfilterrowindex" value="<%= ViewData["nextversionattribfilterrowindex"] %>" />
<%--                    <p>
                        <input type="button" value="View" id="versionviewbutton" />
                    </p>
--%>                </fieldset>
                <% } %>
            </td>
            
        </tr>
    </table>
    <div  style="position: relative; width: 100%">
        <table class="noborders" style="width: 100%; ">
            <tr>
                <td valign="top">
                    <div>
                        <div id="basetextenclosurediv">
                            <textarea id="basetexteditor" name="basetexteditor"></textarea>
                        </div>
                    </div>
                </td>
                <td valign="top" style="text-align:center">

                    <input type="button" id="align" value="Align" /><br />
                    <input type="button" id="editalign" value="Edit" /><br />
                    <input type="button" id="confirmalign" value="Confirm" /><br />
                    <input type="button" id="confirmall" value="Confirm all" /><br />
                    <input type="button" id="removealign" value="Remove" /><br />
                    <input type="button" id="removedraft" value="Remove draft" /><br />
                    <input type="button" id="removeallalign" value="Remove all" /><br />
                    <input type="button" id="autoalign" value="Auto" /><br />
<%--                    <input type="button" id="test" value="Concordance" /><br />--%>
                </td>
                <td valign="top">
                    <div>
                        <div id="versionenclosurediv">
                            <textarea id="versioneditor" name="versioneditor"></textarea>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div id="graphics"  style="position: absolute;top: 40px; left: 0; width: 100%; height:100%;
            overflow: hidden; pointer-events: none">
        </div>

    </div>
    <div>
        <%: Html.ActionLink("Back to corpus", "Index", "Corpus", new { CorpusName = Model.BaseTextModel.CorpusName }, null)%>
    </div>

</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="HeadContent" runat="server">
    <script src="<%= Url.Content("~/Scripts/Prism-Formatting.js") %>" type="text/javascript"></script>
    <script src="<%= Url.Content("~/Scripts/Prism-Utils.js") %>" type="text/javascript"></script>
    <script src="<%= Url.Content("~/Scripts/Prism-Editor.js") %>" type="text/javascript"></script>
    <script src="<%= Url.Content("~/Scripts/Prism-Aligner.js") %>" type="text/javascript"></script>
    <script src="<%= Url.Content("~/ckeditor/ckeditor.js") %>" type="text/javascript"></script>
    <script src="<%= Url.Content("~/ckeditor/adapters/jquery.js") %>" type="text/javascript"></script>
    <link href="<%= Url.Content("~/Content/TaggingStyles.css") %>" rel="stylesheet" type="text/css" />
    <link id="markercss" href="<%= Url.Content("~/Content/EditorSegmentMarkers.css") %>" rel="stylesheet" type="text/css" />
    <link id="corpuscss" href="<%= Url.Content("~/Corpus/CorpusCss?CorpusName=" + Model.BaseTextModel.CorpusName) %>" rel="stylesheet" type="text/css" />
<%--        <script src="<%= Url.Content("~/Scripts/jquery.svg/jquery.svg.js") %>" type="text/javascript"></script>--%>
<%--    <script src="<%= Url.Content("~/Scripts/wz_jsgraphics.js") %>" type="text/javascript"></script>--%>
  <script src="<%= Url.Content("~/Scripts/jsDraw2D_Uncompressed.js") %>" type="text/javascript"></script>

</asp:Content>
